body {
    text-align: center;
    background-color: yellow;
    color: black;
    font-size: 21px;
    background-image: url(../img/food.png);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;

    
}

.intro {
    list-style-image: url(../img/icon3.png);
    font-size: 25px;
}
img {
    border: 5px solid black;
}

h1 {
    font-size: 65px;
    color: black;
    margin: 100px 700px 200px 700px;
}

h3 {
    text-decoration: underline;
    padding-top: 40px;
}

ul {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-weight: bold;
    
}

ul li {
    margin: 10px;

}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #555;
}

.steps {

    margin: 50px;
    padding: 0px 200px 50px 200px;
}



